
.bg-inverse {
	background-color: $menu-bg-color;
	color: #5D0E77;
}

@font-face {
	font-family: 'Open Sans';
	// src: url('(http://fonts.googleapis.com/css?family=Open+Sans)');

}

.navbar {
	padding: 0.5rem 0.5rem 0.5rem 0;
}

.navbar-nav {

}

.nav-item {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 9px 16px 11px 16px !important;
	margin: -8px 0 -11px 0 !important;
	border-right: 1px solid hsla(0,0%,0%,0.1);

	a { 
		color: $menu-item-color;
		transition: color 0.5s, background-color 0.6s;
	}
	
	a:hover {
		/* background-color: $menu-item-color;  #4A0065; */
		color:$menu-item-color-hilite;
		text-decoration: none;
	}

	a:selected {
	/* background-color: #4A0065;*/
	color:$menu-item-color-hilite;
	text-decoration: none;
	}

}


.nav-item.active, .nav-item:hover {
	background-color: $menu-item-color;
	color: $menu-item-color-hilite;
	box-shadow: 0 2px 4px $subtle-shadow;

}

.nav-item:hover a {
	color: $menu-item-color-hilite;
}

li.nav-item.disabled {
	background-color: none;
	color: hsla(0,0%,0%,0.5);
	transition: none;
}
li.nav-item.disabled a {
	color: hsla(0,0%,0%,0.3);
	text-shadow: 0 2px 4px hsla(0,0%,0%,0.2);
	transition: none;
}
li.nav-item.disabled:hover {
	background-color: none;
	color: hsla(0,0%,0%,0.3);
	transition: none;
}
li.nav-item.disabled a:hover {
	color: hsla(0,0%,0%,0.3);
	text-shadow: 0 2px 4px hsla(0,0%,0%,0.2);
	transition: none;
}

.nav-item.user  {
		font-family: "Just Another Hand", cursive;
		text-transform: capitalize;
		font-size: 26px;
		letter-spacing: 2px;
		font-weight: normal;
		background-color: none;
		border: none;
	}


li.nav-item.user:hover {
	background-color: none;
}

.navbar-brand img {
	 height:44px;
	 width:44px; 
	 display:inline;
	 margin: -4px 0 -4px 0;
}

.nav-item.user img {
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	overflow:hidden; 
	border-radius:50%
}

	.nav-item.active a{ 
		color: white;
	}
