ilp-nav
div.container-fluid
  label.update.pull-right Last Updated 
    span(am-time-ago="ilp.plan.sUpdate" ng-show="ilp.plan.sUpdate" ) {{ilp.plan.sUpdate | fromNow}} ...
    br
    span ID#: {{ilp.plan.student.studentid}}
  img.m-t-md.profile-pic.pull-left(ng-src="{{getStudentPhoto(ilp.plan.student.fullPicture)}}" alt="{{ilp.plan.student.studentName}}" )
  h2.m-t-md {{ilp.plan.student.studentName}} in 
    em {{currentClass.className}}
  label.m-l Age: 
    em {{ilp.plan.student.age}}
    span.m-l(ng-show="ilp.plan.student.gender") Gender: 
      em {{ilp.plan.student.gender}}
  label.m-l(ng-show="ilp.plan.student.homeLanguage") Speaks at Home:
    em {{ilp.plan.student.homeLanguage}}
  div.pull-right#classlist-display
    label(style="margin-bottom:-20px;") {{currentClass.className}}&nbsp;Students
    br
    btn-view-ilp.m-l.pull-right(student="selectedStudent" sizer='btn-xs' classid="idClass" intakedone="selectedStudent.intakeDone")
    select( ng-model="selectedStudent" ng-options="student.studentName for student in studentList | orderBy:'nameLast' track by student.idStudent " )
div.m-t-md#plan-nav
  nav.navbar.subnav
    ul.nav.nav-pills
      li.nav-item(ui-sref-active="active")
        a.nav-link(ui-sref="ilp.section({idSection: 1})" ) Summary&nbsp;
          i.icon.ion-alert(ng-show="!ilp.plan.intakeDone" ) &nbsp;
       li.nav-item(ui-sref-active="active")
        a.nav-link(ui-sref="ilp.goals({idSection: 9})" ) Progress
        
div(ui-view)

