.profile-pic {
	margin-right: 0.75em; 
	width: 7em; 
	height: 7em;
	overflow:hidden; 
	border-radius:50%
}

label.update {
	font-size: .6em;
	font-style: italic;
	color: lighten($text-color, 20%);
}
.ion-alert { color: $attention-color;}

.btn-goal {
	@include button-variant(white, $btn-goal, $btn-goal );

}
.btn-save {
	//@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	@include button-variant(white, $btn-save, $btn-save);
	margin: 6px;
}

nav.navbar.subnav {
	border-radius: 0;
	background-color: $subnav-bg-color;
	border-top: inset 1px hsla(0,0%,0%,0.2);
	border-bottom: outset 1px hsla(0,0%,0%,0.2);
	padding-left: 0;

	.nav-item {
		font-family: "Open Sans", sans-serif;
		font-size: 12.24px;
		font-weight: bold;
		line-height: 18px;
		letter-spacing: 2.5px;
		text-transform: uppercase;
		padding: 6px 20px 8px 20px !important;
		margin: -2px 0 -7px 0 !important;
		border-right:  1px solid hsla(175, 60%, 79%, 0.7);

		a { 
			color: black; //$subnav-item-color;
			transition: color 0.5s, background-color 0.6s;
		}
		
		a:hover {
			color:$subnav-item-selected-color;
			text-decoration: none;
			background-color: none;
		}

	}



	.nav-item.active, .nav-item:hover {
		background-color: $subnav-bg-selected-color;
		color: $subnav-item-selected-color;
		box-shadow: 0 2px 4px $subtle-shadow;
	}

	.nav-item.active a {
		background: none;
		box-shadow: none;
		color: $subnav-item-selected-color;
	}
	.nav-item:hover a {
		color: $menu-item-color-hilite;
		background: none;
	}
}

div.goaldisplay, #goal-display {
	padding:5px; 
	background-color: #555555;
	color: white;
	border-radius: 0 0 10px 10px;
	h4 { 
		padding: 3px; 
		background-color: #d4d4d4; 
		color: #555; 
		margin-top: 12px; 
		margin-bottom: 0;
	}
	h1 { visibility: hidden; float: right; margin-right: -1000px;}
}

#ilp-summary, #ilp-goal-entry {

	.card {
		border: none;
		margin: 8px 0 16px 0;
	}

	.card-header {
		padding: 12px 4px 4px 0px;
		background: none;
		border: none;
		background-color: $header-dark-bg-color;
		color: white;
		border-radius: 10px 10px 0 0 / 10px 10px 0 0;
	}

	.card-header.hilite {
		background-color: transparent !important;
		color: $text-color;
	}

	.card-header h4 {
		font-size: 16px;
		font-weight: 600;
		margin: -4px 0 2px 3px;
		padding: 0 0 3px 2px;
		
	}

	div.card-header.hilite h4 {
		color: $attention-color;
	}


	.card-header img.icon {
		float: right;
		margin: -4px 0 2px 6px;
	}

	.card-block {
		background-color: white;
		padding: 4px 0 2px 6px;
		box-shadow: 0px 2px 4px hsla(0,0%,0%, 0.4);

		textarea {
			border: none;
			background: none;
			width: 100%;
			border-radius: 0 0 10px 10px / 0 0 10px 10px;
		}

		img.icon {
			float: left;
			margin: -18px 2px 0 0;

		}

		img.disabled {
			opacity: 0.4;
		}

		label.updatenote {
			font-size: .6em;
			float: left;
			margin: -15px 0 0 4px;
			font-style: italic;
			color: lighten($text-color, 20%);
		}


		textarea:focus {
			border: 0 transparent !important;
			border-image-width: 0;
			box-shadow: none;
			border: none;
			outline:none;
		}
	}


}

@media print {
	div#plan-nav, div#classlist-display,  button.btn-save, #goaltab {
		display: none;
	}

	textarea {

	}

	#goal-display {
		h1 {
			visibility: visible;
			float: none;
			margin-right: 0;
		}
	}



}