div
  button.btn.btn-save.m-t.m-l(type="button" ng-click="checkilp()") Save
  div.clearfix.container-fluid.m-t#ilp-goal-entry
    div.clearfix(ng-repeat="group in ilp.plan.fields | unique: 'displayGroup' | orderBy: ['displayGroupOrder', 'displayOrder'] | filter: {idSectionDef: 9} track by group.displayGroup")
      h3.clearfix {{group.displayGroup}}
      ilp-field(ng-repeat="fld in ilp.plan.fields | filter:{ idSectionDef: 9, displayGroup: group.displayGroup}"  datafield="fld" ng-class="getFieldClass(fld)" )
      br.clearfix
  button.btn.btn-save.m-t.m-l.pull-right(type="button" ng-click="checkilp()") Save
  br
