div
  button.btn.btn-save.m-t.m-r.pull-right(type="button" ng-click="checkilp()") Save
  div.clearfix.container-fluid.m-t#ilp-goal-entry
    div.clearfix(ng-repeat="groupId in ilp.structure.sections[8].groupIds")
      h3.clearfix {{getGroupName(groupId)}}
      ilp-field(ng-repeat="fld in ilp.plan.fields | filter:{ idSectionDef: 9, idFieldGroup: groupId, isHistorical:false}"  datafield="fld" ng-class="getFieldClass(fld)" )
      br.clearfix
  button.btn.btn-save.m-t.m-l.pull-right(type="button" ng-click="checkilp()") Save
  br
