div
  button.btn.btn-save.m-t.m-l(type="button" ng-click="checkilp()") Save Summary
  button.btn.m-r.pull-right.btn-goal(ng-click="scrollTo('goal-display')") GOALS
div.clearfix.container-fluid.m-t#ilp-summary
    div(ng-repeat="groupId in currentSection.groupIds" ng-class="getGroupClass(groupId)" )
      ilp-field(ng-repeat="fld in ilp.plan.fields | filter:{ idSectionDef: currentSectionId, idFieldGroup: groupId}"  datafield="fld" questions="ilp.questions" onchangecallback="checkilp")
      br.clearfix
      br.clearfix

div.clearfix.m-t
div#goal-display.container-fluid.clearfix.m-t
  h1 GOALS
  label featuring: {{ilp.structure}}
  div.col-md-4.col-sm-6(ng-repeat="goalGroupId in referenceSection.groupIds" )
    h1 Hi, everyone
    h3 ID: {{goalGroupId}}
    div(ng-repeat="displayGoal in ilp.plan.fields | filter:{ idSectionDef: 9, idFieldGroup: goalGroupId}" ng-show="displayGoal.contents")
      h4 {{displayGoal.name}}
      ul
        li(ng-repeat="listitem in (displayGoal.contents | textToLines)") {{listitem}}
div#signature
  br
  hr
  h1 Signatures
  br
  h3 Teacher __________________________   date __________
  h3 Parent ___________________________   date __________
 