nav.navbar.navbar-static-top.navbar-dark.bg-inverse
  div.container-fluid
    div.navbar-header
      a.navbar-brand(ui-sref="home")  
        img(src='assets/images/nsf_logo_color.png') 

    div.collapse.navbar-toggleable-sm#bs-example-navbar-collapse-6
      ul.nav.navbar-nav#mainmenu
        li.nav-item(ng-class="{'active' : vm.activetab == 'classes'}")
          a.selected(ui-sref="myclasses") My Classes
        li.nav-item(ng-class="{ 'active' : vm.activetab == 'ilp'}")
          a(ui-sref="ilp") ILP
        li.nav-item.disabled(ng-class="{ 'active' : vm.activetab == 'feed'}")
          a(ui-sref="feed") Feed
        li.nav-item.disabled(ng-class="{ 'active' : vm.activetab == 'sandbox'}")
          a(ui-sref="sandbox") Sandbox

      ul.nav.navbar-nav.pull-right.acme-navbar-text#loggedin(ng-show="vm.user.loggedin")
        li.nav-item.user
          img(src='{{vm.user.userpic}}')
          a(ng-href="#") &nbsp; {{ vm.user.name }} 
