div.container
  div
    acme-navbar(creationdate="main.creationDate")

  div.jumbotron.text-center
    h1 Hiiiiii!!!!!!!
    p.lead
      img(src="assets/images/yeoman.png" alt="YO!") 
      br 
      I love to scaffold. I live for it.
    p
      button.btn.btn-lg.btn-success(type="button" ng-click="main.showToastr()") Splendid Toast

  div.row
    div.col-sm-6.col-md-4(ng-repeat="coolThing in main.awesomeThings | orderBy:'rank'")
      div.thumbnail
        img.pull-right(ng-src="assets/images/{{ coolThing.logo }}")
        div.caption
          h3 {{ coolThing.title}}
          p {{ coolThing.description }}
          p
            a(ng-href="{{coolThing.url}}") {{coolThing.url}}