ilp-nav
div.container-fluid
  div.jumbotron.m-t
    h1.display-3 Upcoming Feature: Feed
    p.lead A way to see what's been happening with classes and students
  img(src="assets/images/feed-content.jpg")
