div#ilpMainNav
  nav.navbar.navbar-dark.bg-inverse(role="navigation")
    div.container-fluid
      div.navbar-header
        a.navbar-brand(ui-sref="home")  
          img#logo(alt="brand" src='assets/images/nsf_logo_color.png')
          ILP 
        button.navbar-toggle.collapsed(type="button" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed" )
          span.sr-only Toggle navigation
          span.hamburger.ion-navicon-round(alt="Toggle Navigation")
      div.collapse.navbar-collapse#main-menu-collapse(ng-class="!navCollapsed && 'in'")
        ul.nav.navbar-nav
          li.nav-item(ui-sref-active='active')
            a.selected(ui-sref="myclasses") My Classes
          li.nav-item(ui-sref-active='active')
            a(ui-sref="ilp") ILP
          li.nav-item.disabled(ui-sref-active='active')
            a(ui-sref="feed") Feed
          li.nav-item.disabled(ui-sref-active='active')
            a(ui-sref="sandbox") Sandbox
          li.nav-item
            a(href="https://docs.google.com/forms/d/1J75mNObL_YEUMqMn0yRIiGbwjCKfAgfoGI1tv4eQ3RM/viewform" target="_blank")  Problem?
        ul.nav.navbar-nav.navbar-right#loggedin(ng-show="vm.user.loggedin" )
          li.nav-item.user.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded = "false" ui-sref="logout")
              img(ng-src='assets/images/staff/{{vm.user.thumbnail}}' )
              span.username &nbsp; {{ vm.user.name }} 
                ul.dropdown-menu
                  li
                    a(ui-sref="logout") Logout
                  li
                    a User Setup
