div#ilpMainNav
  nav.navbar.navbar-dark.bg-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(ui-sref="home")  
          img#logo(alt="brand" src='assets/images/nsf_logo_color.png') 
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false" )
          span.sr-only Toggle navigation
          span.hamburger.ion-navicon-round(alt="Toggle Navigation")
      div.collapse.navbar-collapse#main-menu-collapse
        ul.nav.navbar-nav
          li.nav-item(ui-sref-active='active')
            a.selected(ui-sref="myclasses") My Classes
          li.nav-item(ui-sref-active='active')
            a(ui-sref="ilp") ILP
          li.nav-item.disabled(ui-sref-active='active')
            a(ui-sref="feed") Feed
          li.nav-item.disabled(ui-sref-active='active')
            a(ui-sref="sandbox") Sandbox

        ul.nav.navbar-nav.pull-right#loggedin(ng-show="vm.user.loggedin")
          li.nav-item.user.dropdown
            img(ng-src='{{vm.user.thumbnail}}')
            a.username(ng-href="#" style="display:inline; padding-left:0.2rem !important;") &nbsp; {{ vm.user.name }} 
              ul.dropdown-menu
                li
                  a(ui-sref="logout") Logout
                li
                  a User Setup