div.card
  div.card-header(ng-class="getHeaderColor(vm.datafield)")     
    label.updatenote(ng-show="vm.datafield.sUpdate && vm.datafield.contents" ) Updated {{vm.datafield.sUpdate | fromNow}}
    h4.m-l( uib-tooltip="{{vm.datafield.fieldDescription}}" ) 
      span {{vm.datafield.fieldName}}
      img.icon.history(src="assets/icons/i_..._active.png" ng-show="vm.datafield.history" ng-click="vm.showHistory = !vm.showHistory" alt="Show History" title="Show History")
      img.icon.prompts(src="assets/icons/i_question_active.png" ng-click="vm.showQuestions = !vm.showQuestions" ng-show="vm.datafield.fieldDefinition.questions" title="Show Prompt Questions")
  div.card-block
    textarea(rows="{{getRows()}}" placeholder="{{vm.datafield.fieldDescription}}" ng-change="editField()" ng-model="vm.datafield.contents" ng-model-options="{ updateOn: 'blur' }") 

  div.card-block.history(ng-show="vm.showHistory")
    div(ng-repeat="historicalField in vm.datafield.history")
      label.m-r.updatenote From {{historicalField.sUpdate | fromNow}}
      em {{historicalField.contents}}
  div.card-block.prompts(ng-show="vm.showQuestions")
    ul
      li(ng-repeat="question in vm.datafield.fieldDefinition.questions ") {{question.questionText}}
 