div.fill
  div.container-fluid(style="height:100%;padding-bottom:100%;")
    div.m-t.text-right#login
      img.pull-left(ng-src="/assets/images/nsf_logo_color.png" style="height: 36px; width:36px;")
      h1(style="color:white;") Individual Learning Plans
      p &nbsp;    
      form
        div.input-group
          input.form-control(type="text" placeholder="User Name" aria-describedby="emailaddon" ng-model="user.name")
          span.input-group-addon#emailaddon @nssf.org
        br    
        div.input-group
          input.form-control(type="password" placeholder="password" ng-model="user.password")
        
        input.m-t.pull-left.btn.btn-info(type="submit" ng-click="login(user)" value="login")

  div.alert.alert-danger(role="alert" ng-show="hasProblem()" ) {{ $scope.loginmessage }}



