div#login {

	div.input-group {
		width: 20em;
		min-width: 20em;
		// margin: 0 auto;
		text-align:right;
	}

}

div.fill {
	height: 100%;
	min-height: 100%;
	display:block;
	
	background: url('/assets/images/desk21.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}