ilp-navbar(user="home.localUser" activetab="'home'" ng-show='$scope.localUser.loggedin')
div.container-fluid#login
  div.m-t.jumbotron.text-center
    h1 NSSF Individual Learning Plans
    p &nbsp;    
    form
      div.input-group
        input.form-control(type="text" placeholder="User Name" aria-describedby="emailaddon" ng-model="user.name")
        span.input-group-addon#emailaddon @nssf.org
      br    
      div.input-group.text-center
        input.form-control(type="password" placeholder="password" ng-model="user.password")
      
      input.m-t(type="submit" ng-click="login(user)")



