div.fill
  div.container-fluid(style="height:100%;padding-bottom:100%;")
    div.m-t.text-right#login
      img#logo(ng-src="/assets/images/nsf_logo_color.png" )
      h1(style="color:white;") Individual Learning Plans
      p &nbsp;    
      form
        div.input-group
          input.form-control(type="text" placeholder="User Name" aria-describedby="emailaddon" ng-model="user.name" Autofocus)
          span.input-group-addon#emailaddon @newschoolsf.org
        br    
        div.input-group
          input.form-control(type="password" placeholder="password" ng-model="user.password")
        
        input.m-t.btn.btn-info(type="submit" ng-click="login(user.name, user.password)" value="login")

    div.clearfix
      br.m-t-l
      div.alert.alert-danger(role="alert" ng-show="loginproblem" ) {{ loginmessage }}


