
div.container
  h4 Grade: {{aclass.currentClass.grade | showgrade}}
  form
    fieldset.form-group
      label(for="course-description") {{aclass.currentClass.name}} Course Overview
      textarea.form-control#course-description(rows="4" placeholder="enter the description of your course" ng-bind="aclass.currentClass.description")

    button.btn.btn-primary.pull-right Save

div.container.m-t-md
  div.card
    div.card-header
      button.btn(ui-sref="#").pull-right.disabled Add Student
      h4 
        button.btn.btn-default(type="button" ng-click="isCollapsedS = !isCollapsedS")
          i.icon.ion-arrow-down-b(ng-show="!isCollapsedS")
          i.icon.ion-arrow-right-b(ng-show="isCollapsedS")
        span &nbsp;&nbsp; {{aclass.studentList.length}} Students 
 
    div.card-block.collapse.in#collapseStudents(collapse="isCollapsedS")
      ul.list-unstyled.student-list
        li.p-b(ng-repeat="student in aclass.studentList | orderBy:'nameLast'" ) 
          img.m-r(ng-src="assets/images/students/{{student.profilepicture}}" )
          span {{student.name}}&nbsp;
          btn-view-ilp(student="student" classid="aclass.currentClassId" intakedone="student.intakeDone")
      br
      div.alert.alert-warning.alert-dismissible( role="alert" ng-show="$scope.problem")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        strong We had a problem{{$scope.problem}}

  div.card
    div.card-header
      h4 
        button.btn(type="button" ng-click="isOpenG = !isOpenG" ) 
          i.icon.ion-arrow-down-b(ng-show="isOpenG")
          i.icon.ion-arrow-right-b(ng-show="!isOpenG")
        span &nbsp;&nbsp;Goals 
    div.card-block.collapse#collapseGoals(collapse="!isOpenG")
      p Goals coming later in the ILP application.


