
div.container
  uib-alert(ng-show="aclass.hasProblem" close="dismissProblem($index)") {{aclass.problem}}

  h4 Grade: {{aclass.currentClass.grade | showgrade}}
  form
    fieldset.form-group
      label(for="course-description") {{aclass.currentClass.name}} Course Overview
      textarea.form-control#course-description(rows="4" placeholder="enter the description of your course" ng-model="aclass.currentClass.description" ng-model-options="{ updateOn: 'blur' }"  ng-change="editClassDescription()" )

    button.btn.btn-primary.pull-right Save

div.container.m-t-md
  div.card.clearfix
    div.card-header
      h4 
        button.btn.btn-default(type="button" ng-click="isCollapsedS = !isCollapsedS")
          i.icon.ion-arrow-down-b(ng-show="!isCollapsedS")
          i.icon.ion-arrow-right-b(ng-show="isCollapsedS")
        span &nbsp;&nbsp; {{aclass.studentList.length}} Students 
        br.clearfix
 
    div.card-block.collapse.in#collapseStudents(collapse="isCollapsedS")
      div.col-lg-2.col-md-3.col-sm-4.col-xs-6(ng-repeat="student in aclass.studentList | orderBy:'nameLast'" ) 
          a(title="ILP for {{student.studentName}}"  ui-sref="ilp({ idStudent: student.idStudent, idClass: aclass.currentClassId })" )
            img.student(ng-src="assets/images/students/{{student.profilePicture}}" )
          label.student {{student.studentName}}&nbsp; 
          btn-view-ilp.center.ilpbutton(student="student" classid="aclass.currentClassId" intakedone="student.intakeDone")
          
      br
      div.alert.alert-warning.alert-dismissible( role="alert" ng-show="$scope.problem")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        strong We had a problem {{$scope.problem}}
    div.clearfix
      br
    div.pull-right(style="margin-bottom:-16px;")
      button.btn.btn-default(ng-click="toggleAddStudent()" ng-init="showAdd = 0") Add Students
      div(ng-show="showAdd")
        br.m-t-l
        label() All Students in Grade
        br
        select(  multiple="true" size="20" ng-model="aclass.selectedAddProspect" ng-options="prospect.studentName for prospect in aclass.fullStudentList | orderBy:'nameLast' track by prospect.idStudent" )
        br
        button.m-b-l.btn.btn-link(ng-click="addStudent()") Add These Students
        br.m-t-l
        span .


  div.card(ng-show="0")
    div.card-header
      h4 
        button.btn(type="button" ng-click="isOpenG = !isOpenG" ) 
          i.icon.ion-arrow-down-b(ng-show="isOpenG")
          i.icon.ion-arrow-right-b(ng-show="!isOpenG")
        span &nbsp;&nbsp;Goals 
    div.card-block.collapse#collapseGoals(collapse="!isOpenG")
      p Goals coming later in the ILP application.


