.student-list {
	line-height: 4em;
}

.btn-danger {
	background-color: $attention-color;
}

.btn-danger:hover {
	background-color: $attention-color-hilite;
	transition: background-color 0.5s;

}

.btn-primary {
	background-color: $action-color;
	border: none;
}

.btn-primary:hover {
	background-color: $action-color-hilite;
	transition: background-color 0.5s;
}



.spacious {
	margin-left: .5em;
}


img.student {
	width: 90%;
	height: auto;
	display:block;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	margin-bottom: -18px;
}

label.student {
	width:90%;
	background-color: hsla(0, 0%, 15%, 0.6);
	color: white;
	text-align: center;

}

.ilpbutton {
	margin: 0 auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;

}
/*
#classnav {
	nav.navbar.subnav li.nav-item{
		margin: -7px 0 -7px 0 !important;
	} 

	ul.nav-pills li.nav-item {
		a.active, a:hover
		{
			background: none;
		}
	}

	ul.nav-pills li.nav-item.active, ul.nav-pills li.nav-item:hover {
		background-color: $menu-item-color;
		color: $menu-item-color-hilite;
		box-shadow: 0 2px 4px $subtle-shadow;

	}
}
*/
