.student-list {
	line-height: 4em;
}

.btn-danger {
	background-color: $attention-color;
}

.btn-danger:hover {
	background-color: $attention-color-hilite;
	transition: background-color 0.5s;

}

.btn-primary {
	background-color: $action-color;
	border: none;
}

.btn-primary:hover {
	background-color: $action-color-hilite;
	transition: background-color 0.5s;
}



.spacious {
	margin-left: .5em;
}

ul.nav-pills li.nav-item a.active {
	background: none;
}

ul.nav-pills li.nav-item.active {
	background-color: $menu-item-color;
	color: $menu-item-color-hilite;
	box-shadow: 0 2px 4px $subtle-shadow;
}

