ilp-nav(activetab="'classes'" )
div.container-fluid
  div
  h3.p-t.p-l Classes for {{myclasses.currentSchoolYear}}
div.m-t-md
  nav.navbar.subnav
    ul.nav.nav-pills
      li.nav-item(ng-repeat="c in myclasses.classList" ui-sref-active="active" )
        a.nav-link(ui-sref="myclasses.class({classId: c.idClass})") {{c.name}}
div(ui-view)



