ilp-nav
div.container-fluid
  h3 
    ng-pluralize( count="myclasses.classList.length" when="{'0': 'No Classes', 'one': 'Class', 'other': '{} Classes '}")
    span for {{myclasses.currentSchoolYear}}
div.m-t-md#classnav
  nav.navbar.subnav
    ul.nav.nav-pills
      li.nav-item(ng-repeat="c in myclasses.classList" ui-sref-active="active" )
        a.nav-link(ui-sref="myclasses.class({classId: c.idClass})") {{c.name}}
div(ui-view)



